.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Blue background color */
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #fff; /* White text color */
    margin-left: 40px; /* Move logo slightly to the right */
  }
  
  .logo-link {
    text-decoration: none;
    color: #fff; /* White text color */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu-item {
    text-decoration: none;
    color: #fff; /* White text color */
    margin-right: 20px;
    transition: color 0.3s;
  }
  
  .menu-item:hover {
    color: #cceeff; /* Light blue text color on hover */
  }
  
  .user-profile {
    position: relative;
  }
  
  .user-toggle {
    background-color: transparent;
    border: none;
    color: #fff; /* White text color */
    cursor: pointer;
  }
  
  .user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #007bff; /* Blue background color */
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .user-menu.open {
    display: block;
  }
  
  .user-menu-item {
    text-decoration: none;
    color: #fff; /* White text color */
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .user-menu-item:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
  }